.sel-width {
    height: 20px;
    width: 54px;
}
.abc{
    height:35px;
}
.showMe{
    font-size:10px;
    font-weight: bold;
    background-color:#000000;
    color: #ffff00;
    width:99%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
.insFooter {
    font-size:12px;
    color:black;
    position:fixed;
    opacity: 0.7;
    left:0px;
    bottom:0px;
    height:100px;
    width:100%;
    background:#ffff00;
    border:none;
}